# =========================
# Runtime / application data
# =========================

# Portainer
portainer/data/

# Grafana
monitoring/grafana/data/

# Loki
monitoring/loki/data/

# Alloy
monitoring/alloy/data/

# Prometheus
monitoring/prometheus/data/

# Minecraft runtime
minecraft/backups/
minecraft/data/crash-reports/
minecraft/data/hs_err_pid*.log
minecraft/data/.run-forge.env
minecraft/data/.rcon-cli.env
minecraft/data/.rcon-cli.yaml
minecraft/data/banned-players.json
minecraft/data/banned-ips.json
minecraft/data/ops.json
minecraft/data/whitelist.json
minecraft/data/usercache.json
minecraft/data/usernamecache.json
minecraft/data/eula.txt
minecraft/data/world/
minecraft/data/world_nether/
minecraft/data/world_the_end/
minecraft/data/logs/
minecraft/data/libraries/
minecraft/data/.cache/
minecraft/data/config/spark/tmp/

# Server monitor runtime
server-monitor/__pycache__/
server-monitor/*.log
server-monitor/.deploy-status.json

# VPN runtime
vpn/wireguard/server/
vpn/wireguard/peer*/
vpn/wireguard/wg_confs/
vpn/duckdns/

# =========================
# Syncthing
# =========================

syncthing/data/
syncthing/config/
.stfolder/
.stignore

# =========================
# Plex runtime
# =========================

plex/config/
plex/transcode/
plex/cache/
